print('Hello World')

In [13]:
print('Hello I am Asyikin')

Hello I am Asyikin

# My first notebook ðŸ˜Š

# Variables 
- it's a container for storing data values.
- Take a string or number and assign it to a variable and the variable will carry and contain whatever you put into it.

In [21]:
x = 22
print(x)

22

In [23]:
type(x)

int

In [27]:
y = "Nasi Lemak Ayam Goreng"
print(y)

Nasi Lemak Ayam Goreng

In [29]:
type(y)

str

**We can overwrite previous variable**

In [43]:
Y = 'Mihun Goreng'
y = "Nasi Lemak Ayam Goreng"
print(Y)
print(y)

Mihun Goreng
Nasi Lemak Ayam Goreng

**We can assign multiple values to multiple variable**

In [46]:
a,b,c = 'red', 'blue', 'yellow'
print(a)
print(b)
print(c)

red
blue
yellow

**We can also assign MULTIPLE variable to ONE value**

In [49]:
d = e = f = "Jupyter"
print(d)
print(e)
print(f)

Jupyter
Jupyter
Jupyter

**Lists**

In [52]:
countries = ['Malaysia', 'Thailand', 'Indonesia']

a, b, c = countries
print(a)
print(b)
print(c)

Malaysia
Thailand
Indonesia

**Operators with Variables**
- we CANNOT concatenate integers and string together

In [56]:
k = "Nasi ayam is my favorite" + "."
print(k)

Nasi ayam is my favorite.

In [59]:
x = 99 + 1
print(x)

100

In [65]:
x = "The mitochondria "
y = "is the powerhouse "
z = "of the cell."
print(x+y+z)

The mitochondria is the powerhouse of the cell.